<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuri_khechoyan.queued">

    <!-- USES INTERNET PERMISSION -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="qu·eu·ed"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MainActivity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegActivity -->
        <activity
            android:name=".RegActivity"
            android:label="qu·eu·ed - Register">
            <intent-filter>
                <action android:name="com.yuri_khechoyan.queued.RegActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- QueueActivity -->
        <activity
            android:name=".QueueActivity"
            android:label="qu·eu·ed - View Queue">
            <intent-filter>
                <action android:name="com.yuri_khechoyan.queued.QueueActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity"></activity>
    </application>

</manifest>